body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,img,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
	color:black;
}
body html{
	width: 100%;
	height:100%;
}

/*header*/
header{
	width:100%;
	height:70px;
	display: flex;
	padding-top: 30px;
}
.headerLeft{
	float:left;
	padding-left: 125px;
}
.headerLeft a{
	font-size:12px; 
}
.headerLeft a:hover{
	text-decoration:underline;
}
.headerCenter{
	text-align: center;
	margin:0 auto;
	padding-right:78px;
}
.headerCenter a h1{
	font-size:24px;
}
.headerCenter a span{
	display: inline-block;
	font-size: 8px;
}
.headerRight{
	float:right;
	padding-right: 125px;
	position:relative;
}
.onLoad{
	width: 230px;
	height:238px;
	position:absolute;
	background-color:white;
	right:200px;
	top:-83px;
	display:none;
	padding-top: 32px;

}
.onLoad1{
	width:250px;
	margin:20px 0px 20px 40px;
}
.onLoad1 input{
	width:150px;
}
.onLoadPut a{
	width:180px;
	text-align: center;
	display: block;
	font-size: 12px;
	font-weight: 600;
	line-height: 40px;
	height:40px;
	background-color:black;
	color:white;
	margin-left:25px;
}
.wish{
	width:330px;
	height:121px;
	position:absolute;
	background-color:white;
	right:100px;
	top:-83px;
	display:none;
	padding-top: 20px;
}
.wish p{
	font-size: 16px;
	text-align: center;
}
.wish a{
	width:230px;
	text-align: center;
	display: block;
	font-size: 12px;
	font-weight: 600;
	line-height: 60px;
	height:60px;
	background-color:black;
	color:white;
	margin-left:50px;
	margin-top: 20px;
}
.headerRight a{
	font-size: 12px;
}
.headerRight a:hover{
	text-decoration:underline;
}
/*title*/
.title{
	width:40%;
	height:30px;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
}
.title a{
	font-size: 12px;
	padding:0 20px;
}
.title a:hover{
	border-bottom: 3px solid black;
}
/*linbotu*/
.lunbotu{
	border-top: 1px solid black;
}
.IMG{
	position:relative;
	height:770px;
}
.IMG img{
	width:100%;
	height:770px;
	position:absolute;
	top:0;
}
#img2,#img3,#img4{
	display:none;
}
.center1{
	position: absolute;
	left:558px;
	top:317px;
}
.center1 h1{
	font-size: 38px;
	color:white;
}
.pause1{
	position: absolute;
	position:relative;
	width:100%;
	height:12px;
	top:616px;
	padding-left:83px;
}
.pause1 a{
	font-size: 12px;
	line-height: 12px;
	color:white;
	font-weight:800;
}
.pause1 a:nth-child(1){
	position:absolute;	
}
.pause1 a:nth-child(2){
	position:absolute;
	display:none;
}
.pause1 a:nth-child(3){
	margin-left:531px;
}
.IMG .span a{
	display: block;
	width:48px;
	height:48px;
	opacity: .6;
	background-color: black;
	position:absolute;
	left:0;
	top:0;
}
.span a:nth-child(1){
	position:absolute;
	left:614px;
	top:483px;
	background-color: white;
	opacity: 1;
}
.span a:nth-child(2){
	position:absolute;
	left:681px;
	top:483px;
}
.span a:nth-child(3){
	position:absolute;
	left:681px;
	top:550px;
}
.span a:nth-child(4){
	position:absolute;
	left:614px;
	top:550px;
}
.kuangXi{
	width:100%;
	height:366px;
	background-color: white;
	position:absolute;
	top:0;
	display: none;
}
.kuangXi1{
	float: left;
	margin-left: 111px;
	width:257px; 
}
.kuangXi2{
	margin-top:31px;
	margin-left: 127px;
	float:left;
}
.kuangXi2 h1{
	font-size:12px;
	line-height:46px;
}
.kuangXi2 a{
	font-size:12px;
	line-height:27px;	
}
.kuangXi1 img{
	display: block;
	width:257px;
	height:193px;
	margin-top: 48px;
}
.kuangXi1 h1{
	line-height: 12px;
	font-size: 12px;
	margin-top:267px;
}

.kuangMan{
	width:100%;
	height:366px;
	background-color: white;
	position:absolute;
	top:0;
	display: none;
}
.kuangMan1{
	float: left;
	margin-left: 111px;
	width:257px; 
}
.kuangMan2{
	margin-top:31px;
	margin-left: 127px;
	float:left;
}
.kuangMan2 h1{
	font-size:12px;
	line-height:46px;
}
.kuangMan2 a{
	font-size:12px;
	line-height:27px;	
}
.kuangMan1 img{
	display: block;
	width:257px;
	height:193px;
	margin-top: 48px;
}
.kuangMan1 h1{
	line-height: 12px;
	font-size: 12px;
	margin-top:267px;
}

.kuangWoman{
	width:100%;
	height:366px;
	background-color: white;
	position:absolute;
	top:0;
	display: none;
}
.kuangWoman1{
	float: left;
	margin-left: 111px;
	width:257px; 
}
.kuangWoman2{
	margin-top:31px;
	margin-left: 127px;
	float:left;
}
.kuangWoman2 h1{
	font-size:12px;
	line-height:46px;
}
.kuangWoman2 a{
	font-size:12px;
	line-height:27px;	
}
.kuangWoman1 img{
	display: block;
	width:257px;
	height:193px;
	margin-top: 48px;
}
.kuangWoman1 h1{
	line-height: 12px;
	font-size: 12px;
	margin-top:267px;
}

.kuangPin{
	width:100%;
	height:366px;
	background-color: white;
	position:absolute;
	top:0;
	display: none;
}
.kuangPin1{
	float: left;
	margin-left: 111px;
	width:257px; 
}
.kuangPin2{
	margin-top:31px;
	margin-left: 127px;
	float:left;
}
.kuangPin2 h1{
	font-size:12px;
	line-height:46px;
}
.kuangPin2 a{
	font-size:12px;
	line-height:27px;	
}
.kuangPin1 img{
	display: block;
	width:257px;
	height:193px;
	margin-top: 48px;
}
.kuangPin1 h1{
	line-height: 12px;
	font-size: 12px;
	margin-top:267px;
}
/*kind*/
.kind{
	margin-bottom:50px;
}
.kindSon{
	display: flex;
	width:1118px;
	margin:0 auto;

}
.kind h1{
	text-align: center;
	font-size: 16px;
	font-weight:100;
	margin-top:100px;
	margin-bottom:30px;
}
.kind img{
	width:557px;
	height:557px;
}
.kindLeft{
	width:557px;
	height:837px;
	margin-right: 8px;
	position: relative;
}
.kindLeft h2 a{
	position: absolute;
	font-size: 24px;
	line-height: 24px;
	left:224px;
	top:268px;
	color:white;
}
.kindRight{
	width:667px;
	height:837px;
	float:left;
	position: relative;
}
.kindRight h2 a{
	position: absolute;
	font-size: 24px;
	line-height: 24px;
	left:224px;
	top:268px;
	color:white;
}
.kindLeftBottom{
	text-align: center;
	border-right: 1px solid black;
	margin-right:-4px; 
}
.kindLeftBottom a{
	display: inline-block;
	width:100px;
	line-height: 24px;
	border:1px solid black;
	text-align:center;
	margin:0 11px 10px;
}
.kindRightBottom{
	text-align: center;
}
.kindRightBottom a{
	display: inline-block;
	width:100px;
	line-height: 24px;
	border:1px solid black;
	text-align:center;
	margin:0 11px 10px;
}
/*content*/
.content{
	margin-bottom: 10px;
	position:relative;
}
.content h1{
	margin:auto;
}
.content h1 a{
	position: absolute;
	font-size:38px;
	line-height: 38px;
	left:600px; 
	top:318px;
	color:white;
}
.content img{
	width:100%;
	height:700px;
}
/*store*/
.store{
	position:relative;
}
.store img{
	width:100%;
}
.store a:nth-child(2){
	width:353px;
	text-align: center;
	display: block;
	font-size: 16px;
	line-height: 64px;
	border:1px solid black;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	height:64px;
	background-color: black;
	color:white;
}
.store a:nth-child(2):hover{
	transform: translateY(-3px);
}
/*dingyue*/
.dingyue{
	display:flex;
	margin-top:5px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding-top: 32px;
	padding-bottom: 56px;
}
.dingyue p{
	color:#717171;
}
.dingyue1{
	margin-left:111px;
	margin-right:98px;
	width:190px;
}
.dingyue1 h1{
	font-size: 12px;
	padding-top: 15px;
}
.dingyue2{
	width:250px;
	padding-top: 28px;
}
.dingyue input{
	width:250px;
}
.dingyue3{
	width:250px;
	margin:30px 30px 0;
}
.dingyue4 a{
	width:259px;
	text-align: center;
	display: block;
	font-size: 12px;
	font-weight: 600;
	line-height: 65px;
	height:65px;
	background-color:#767676;
	color:white;
}
.dingyue4 a:hover{
	transform: translateY(-3px);
}
/*footer*/
.footer{
	width:100%;
	display:flex;
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
}
.footer h1,a,p{
	font-size: 12px;
}
.footer a{
	color:#717171;
	font-size: 12px;
}
.footer p{
	color:#717171;
	font-size: 12px;
}
.footerLeftOne{
	margin-left: 115px;
}
.footerLeftTwo{
	margin-left: 115px;
}
.footerLeftThree{
	margin-left: 115px;
}
.footerLeft{
	display:flex;
}
.footRight{
	margin-left: 320px;
	position:relative;
}
.footRight h1 a{
	position:absolute;
	font-size:12px;
	line-height: 12px; 
	left:43px;
	top:82px;
	color:white;
}
.footRight a img{
	width:260px;
	height:178px;
}
/*bottom*/
.bottom{
	width:100%;
	height:80px;
}
.tubiao{
	float: right;
	margin-top: 20px;
	margin-right: 50px;
}