@charset "utf-8";
/* CSS Document */
body{
	font-family: "微软雅黑";
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}
ul li{
	list-style: none;
}
/*header*/
header{
	height: 128px;
	width: 100%;
	/*border-bottom: 0.5px solid black;*/
	position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
}
@media (min-width: 1025px){
	header{
	    height: 128px;
	}
}
@media (min-width: 769px){
	header{
	    height: 118px;
	    z-index: 20;
	}
}

/*head*/
#head{
	width: 1122px;
	height: 68px;
	margin: 0 auto;
	position: relative;
}
.lefthead{
	float: left;
}
.country-sel,.language-sel,.contact-way{
	font-size: 12px;
	line-height: 78px;
	padding-left: 15px;
}
.country-sel:hover{
	text-decoration: underline;
}
.language-sel:hover{
	text-decoration: underline;
}
.contact-way:hover{
	text-decoration: underline;
}
.logo{
	width: 160px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.righthead{
	float: right;
}
#login-reg{
	float:left;
	padding-right: 5px;
	width: 45px;
	height: 42px;
	text-align: center;
}
.loginCls{
	line-height: 78px;
	position: relative;
	z-index: 6;
}
.login{
	font-size: 12px;
}
.login:hover{
	text-decoration: underline;
}
#dlzc{
	box-sizing: content-box;
	position: absolute;
	left: -70px;
	top: 50px;
	width: 162px;
	height: 225px;
	padding:3px 30px 24px 30px;
	background: white;
	display: none;
}
#login-reg:hover #dlzc {
	display: block;
}
#useremail,#userpass{
	display: block;
    background: 0 0;
    width: 100%;
    padding: 10px 0 14px;
    border: none;
    border-bottom: 1px solid #717171;
    color: #000;
    z-index: 2;
    outline:none;
    margin-top: 10px;
}
/*#userpass{
	display: block;
    background: 0 0;
    width: 100%;
    padding: 10px 0 14px;
    border: none;
    border-bottom: 1px solid #717171;
    color: #000;
    z-index: 2;
    outline:none;
    margin-top: 10px;
}*/
#subbtn{
	width: 162px;
	height: 32px;
	background: #000;
    color: #fff;
    text-align: center;
	outline: 0;
	border: 0;
	transition: all .2s linear,transform .1s ease-in-out;
	position: absolute;
	left: 30px;
    top: 113px;
}
#subbtn:hover{
	top: 110px;
}
/*#remanber{
	float: left;
	position: absolute;
	left: 30px;
    top: 155px;
}*/
/*label{
	position: absolute;
	left: 30px;
	top: 121px;
	font-size: 12px;
	color: black;
}*/
.nav-rememberme{
	/*overflow: hidden;*/
	/*width: 100%;*/
	/*height: 17px;*/
	position: absolute;
	left: 30px;
    top: 130px;
}
.nav-rememberme label{
	font-size: 12px;
	color: black;
}
.forget{
	font-size: 12px;
	position: absolute;
	left: 31px;
    top: 160px;
    color: #938e8e;
}
.zc{
	font-size: 12px;
	position: absolute;
	left: 110px;
	top: 160px;
    color: #938e8e;
}
.forget:hover{
	text-decoration: underline;
}
.zc:hover{
	text-decoration: underline;
}
#collect{
	float: left;
	width: 38px;
	height: 38px;
	line-height: 78px;
	text-align: center;
	position: relative;
	z-index: 6;
}
.coll img{
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.coll span{
	font-size: 6px;
}
#collect:hover #xyd{
	display: block;
}
#xyd{
	width: 334px;
	height: 166px;
	background: white;
	font-size: 16px;
	position: absolute;
	left: -240px;
	top: 50px;
	display: none;
}
.xydbox{
	width: 286px;
	height: 64px;
	background: black;
	margin: 12px auto;
	line-height: 64px;
}
.xydbox:hover{
	margin-top: 9px;
}
.xydbox a{
	font-size: 12px;
	color: white;
	font-weight: bolder;
}
#search{
	float: left;
	width: 32px;
	line-height: 78px;
	text-align: center;
}
.search{
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
/*nav*/
nav{
	width: 100%;
	height: 50px;
}
#nav{
	text-align: center;
	position: relative;
	border-bottom: 0.5px solid #999;
}
#nav .nav-li{
	display: inline-block;
	width: 95px;
	line-height: 50px;
	font-size: 12px;
	font-weight: bolder;
	box-sizing: border-box;
	z-index: 6;
}
.nav-li .navg:hover span{
	padding-bottom: 13px;
	border-bottom: 4px solid black;
}
@media (min-width: 769px){
	.navigation {
	    text-align: center;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	}
}
#nav .nav-li .xlbox{
	position: absolute;
	left: 0px;
	top: 50px;
	width: 100%;
	height: 288px;
	border-top: 1px solid #999;
	background: white;
	z-index: 6;
	padding: 48px 0 30px 0;
	display: none;
}
.contentbox{
	width: 1122px;
	height: 287px;
	margin: 0 auto;
}
.con-ul{
	width: 1122px;
	height: 287px;
	display: flex;
}
.con-ul .con-ul-li{
    /*display: inline-block;*/
    width: 161px;
	height: 243px;
	padding: 0 15px 45px 15px;
}
.con-ul .con-ul-li:first-child{
	width: 257px;
	height: 247px;
	padding: 0 15px 45px 15px;
	margin-right: 96px;
}
.con-ul-li .li-titlt{
	display: block;
	height: 17px;
	font-size: 12px;
	font-weight: bolder;
	text-align: left;
	margin-bottom: 30px;
}
.box-img{
	width: 257px;
	height: 193px;
	margin-bottom: 8px;
}
.box-img a{
	display: block;
	width: 257px;
	height: 193px;
}
.box-img a img{
	width: 257px;
	height: 193px;
}
.innerul{
	width: 161px;
	height: 84px;
}
.innerul .dangan{
	font-weight: bolder;
	color: black;
	font-size: 12px;
}
.innerul li{
	height: 28px;
	font-size: 10px;
	text-align: left;
	margin-bottom: 8px;
}
.innerul li a{
	color: #717171;
	font-weight: 400;
}
.innerul li a:hover{
	text-decoration: underline;
}

/*primery-content*/
.primery-content{
	width: 100%;
	height: 100%;
	margin-top: 117.5px;
}
.content{
	width: 1122px;
	height: 100%;
	margin: 0 auto;
}
.con-header{
	text-align: center;
    padding: 30px 15px;
}
.subtitle{
	font-size: 12px;
	font-weight: 400;
	margin: -3px 0 -4px;
    display: block;
}
.title{
	margin-top: 10px;
	font-size: 20px;
    display: block;
}
.con-l-r{
	box-sizing: content-box;
	width: 1152px;
	height: 410px;
	margin: 0 auto;
	margin-bottom: 48px;
	display: flex;
	justify-content: space-between;
}
.con-login{
	box-sizing: content-box;
	float: left;
	width: 516px;
	height: 356px;
	padding: 0 15px;
	background: #f6f6f6;
}
.loginbox{
	position: relative;
	width: 512px;
	height: 336px;
	padding: 10px 30px;
	text-align: center;
}
.con-l-r-h{
	margin: 10px 0 0;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
}
.intro{
	font-size:17px; 
	color: #717171;
    font-weight: 400;
}
.fieldbox{
	height: 62px;
	width: 100%;
}
#l-useremail,#l-userpass{
	display: block;
	background: 0 0 ;
    width: 100%;
    padding: 10px 0 14px;
    border: none;
    border-bottom: 1px solid #717171;
    color: #000;
    z-index: 2;
    outline:none;
    margin-top: 10px;
    font-size: 16px;
}
.l-subbtn{
	width: 100%;
	height: 84px;
	margin-top: 10px;
	margin-bottom: 18px;
}
#l-submit{
	width: 340px;
	padding: 24px 0 24px 0;
	background: black;
	color: white;
	border: 0;
	margin-top: 0px;
}
#l-submit:hover{
	margin-top:-3px;
}
.rememberme-forget{
	display: flex;
	justify-content: space-around;
}
#l-rememberme{
	
}
.l-forget{
	color: #717171;
	text-align: right;
    padding-left: 10px;
}
.l-forget:hover{
	text-decoration: underline;
}
.con-reg{
	width: 546px;
	height: 410px;
	padding: 10px 30px;
	background: #f6f6f6;
	text-align: center;
}
.regbtnbox{
	width: 512px;
	height: 64px;
	margin: 40px 0 0 0;
	padding-bottom: 15px;
}
.regbtn{
	width: 340px;
	height: 64px;
	padding: 24px 0 24px 0;
	background: black;
	color: white;
	border: 0;
	text-align: center;
	margin-top: 10px;
}
.regbtn:hover{
	margin-top: 7px;
}
.create-account-bene{
	margin: 40px auto 0;
	text-align: center;
	width:310px;
	height: 180px;
}
.create-account-bene h3{
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 12px 0;
}
.reg-title{
	font-size: 12px;
    line-height: 16px;
    text-transform: none;
    color: #000;
    font-weight: 400;
}
.reg-text{
	color: #717171;
	font-size: 12px;
    line-height: 16px;
    text-transform: none;
    font-weight: 400;
    margin: 0 0 8px;
}
.view-order{
	box-sizing: content-box;
	width: 1122px;
	height: 490px;
	margin: 0 auto;
}
.view-orderbox{
	box-sizing: content-box;
	width: 545px;
	height: 490px;
	margin: 0 auto;
	padding: 0 15px;
	text-align: center;
	overflow: hidden;
}
.order{
	width: 100%;
	height: 47px;
	padding-top: 15px;
	margin-top: 20px;
}
.ordernum{
	width: 100%;
	height: 47px;
	padding-top: 15px;
	border: 0;
	background: 0 0;
	outline: none;
	border-bottom: 1px solid #999; 
	font-size: 16px;
}
.orderemail{
	width: 100%;
	height: 47px;
	padding-top: 15px;
	border: 0;
	background: 0 0;
	outline: none;
	border-bottom: 1px solid #999; 
	font-size: 16px;
}
.orderpostcode{
	width: 100%;
	height: 47px;
	padding-top: 15px;
	border: 0;
	background: 0 0;
	outline: none;
	border-bottom: 1px solid #999; 
	font-size: 16px;
}
.ordercountry{
	width: 100%;
	height: 47px;
	padding-top: 15px;
	border: 0;
	background: 0 0;
	outline: none;
	border-bottom: 1px solid #999; 
	font-size: 16px;
}
.view-Obtnbox{
	width: 545px;
	height: 94px;
	margin-top: 10px;
	padding-top: 20px;
}
.vobtn{
	width: 340px;
	padding: 24px 0 24px 0;
	background: black;
	color: white;
	border: 0;
	margin-top: 18px;
}
.vobtn:hover{
	margin-top: 15px;
}
.customer-support{
	width: 100%;
	height: 132px;
	margin-top: 80px;
}
.cust-supp-box{
	width: 100%；
	height:132px;
}
.help{
	padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #c9c9c9;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
}
.cust-container{
	width: 1122px;
	height: 95px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.cust-text{
	width: 561px;
	height: 95px;
	text-align: center;
	padding: 15px 10% 10px;
	line-height: 18px;
	color: #717171;
	font-size: 12px;
	border-right: 1px solid #999;
}
.cust-text-left{
	/*width: 336px;
	height: 70px;*/
	width: 100%;
	height: 70px;
	padding: 0 10%;
	/*margin: 15px 10% 10px;*/
}
.cust-server{
	color: #000;
    font-weight: 400;
}
.cust-links{
	width: 561px;
	height: 95px;
	display: flex;
	justify-content: space-around;
	font-size:12px;
    line-height: 16px;
    text-transform: none;
    color: #000;
    font-weight: 400;
}
.cust-links a{
	display: block;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
    padding: 0 6px;
    position: relative;
}
.cust-links img{
	width: 20px;
	height: 20px;
    position: absolute;
    left: 0;
    top: -10px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.cust-links a p{
	width: 100%;
	height: 14px;
	text-align: center;
	position: absolute;
    left: 0px;
    top: 55px;
}







#footermd{
	width: 100%;
	height: 272px;
	background: #f6f6f6;
}
#shop{
	width: 100%;
	height: 262px;
	background: url(../img/mdimg01.jpg) no-repeat center;
	position: relative;
}
#shop a{
	display: block;
	width: 353px;
	height: 64px;
	padding: 0 15px;
	background: black;
	color: white;
	line-height: 64px;
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -171px;
	margin-top: -32px;
}
#shop a:hover{
	margin-top: -35px;
}
#shop a img{
	width: 16px;
	height: 16px;
	margin-left: 10px;
	margin-right: 60px;
}
#newsletter{
	width: 100%;
	height: 185px;
	border-top: 1px solid #999;
    padding: 32px 0;
    text-align: left;
    background: #f6f6f6;
}
#newscon{
	width:1122px;
	height: 120px;
	margin: 0 auto;
	display: flex;
}
#news{
	width: 25%;
	padding: 0 15.5px;
}
#news h3{
	display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 0;
}
#news p{
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    color: #717171;
    font-weight: 400;
    padding-bottom: 10px;
}
#email{
	width: 25%;
	padding: 20px 15px 0 15px;
}
#e-txt{
    display: block;
    background: 0 0;
    width: 100%;
    padding: 10px 0 14px;
    border: none;
    border-bottom: 1px solid #717171;
    color: #000;
    z-index: 2;
    outline:none;
}
#agree{
	width: 25%;
	text-align: left;
	padding: 0 15px;
}
#agree p{
    font-size: 12px;
    line-height: 1rem;
    text-transform: none;
    color: #717171;
    font-weight: 400;
    margin: 32px 0 8px 0;
}
#dingyue{
	width: 25%;
	padding: 0 15px;
}
#dybtn{
	width: 100%;
	height: 64px;
	background: #767676;
	border: 0;
	color: white;
	font-size: 12px;
	font-weight: bolder;
	margin-top: 0px;
}
#dybtn:hover{
	margin-top: -3px;
}
#server{
	width: 100%;
	height: 410px;
	background: #f6f6f6;
	border-top: 1px solid #999;
	padding: 64px 0;
}
#servercon{
	width: 1122px;
	height: 280px;
	margin:0 auto;
	display: flex;
}
#customser{
	width: 160px;
	height: 155px;
	padding: 0 15px;
}
.foot-title{
	font-size: 12px;
	font-weight: bolder;
}
.foot-ul{
	margin-top: 32px;
}
.foot-ul li{
	margin-top: 12px;
	font-size: 12px;
}
.foot-ul li a{
	color: #717171;
}
.foot-ul li a:hover{
	text-decoration: underline;
}
#about{
	width: 160px;
	height: 92px;
	padding: 0 15px;
}
#falv{
	width: 450px;
	height: 148px;
	padding: 0 15px;
}
#beian{
	width: 257px;
	height: 280px;
	padding: 0 15px;
}
#beian #baimg1{
	display: block;
	width: 257px;
	height: 176px;
	position: relative;
}
#beian #baimg1 img{
	width: 257px;
	height: 176px;
}
#beian #baimg1 span{
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	top: 50%;
	color: white;
	transform: translateY(-50%);
	font-size: 12px;
}
#beian p{
    font-size: 12px;
    text-transform: none;
    color: #717171;
    margin-bottom: 8px;
}

footer{
	width: 100%;
	height: 64px;
	box-sizing: border-box;
	border-top: 1px solid #999;
	background: #f6f6f6;
	padding: 20px 0;
}
#footer-con{
	width: 1122px;
	height: 23px;
	margin:0 auto;
}
#icon{
	float: right;
}
#icon li{
	display: inline-block;
}
#icon li a img{
	width: 20px;
	height: 20px;
}
#icon li a img:last-child{
	margin-left: 48px;
}